<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huawei.mapper.BookMapper">
    <insert id="add">
        insert into book (id, name, price) values (null, #{name}, #{price})
    </insert>

    <update id="update">
        update book
        <set>
            <if test="name!=null">name=#{name}</if>
            <if test="price!=null">price=#{price}</if>
        </set>
        where id=#{id}
    </update>

    <select id="findById" resultType="com.huawei.entity.Book">
        select id, name, price from book where id=#{id}
    </select>

    <delete id="deleteByIds">
        delete from book where id in
        <foreach collection="ids" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="findAll" resultType="com.huawei.entity.Book">
        select id, name, price from book
    </select>

    <select id="findByNameLike" resultType="com.huawei.entity.Book">
        select id, name, price from book where name like concat('%', #{name}, '%')
    </select>

</mapper>
